.theme-type-button {
    &.theme {
        background: #FFE0B2; 
        color: #EF6C00;
    }

    &.componenet {
        background: #BBDEFB; 
        color: #1565C0;
    }

    &.focus {
        background: #C8E6C9; 
        color: #2E7D32;
    }    
}