.my-badge {
    border-radius: var(--border-radius);
    padding: .25em .5rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: .3px;
}
//can be deleted the file

.my-badge.theme {
    background-color: #F3E5F5; /* very soft lavender */
    color: #5E2A84;           /* muted purple */
}

.my-badge.component {
    background-color: #E8F0FE; /* soft blue-gray */
    color: #1F3A5F;            /* deep blue */
}
