.my-badge {
    border-radius: var(--border-radius);
    padding: .25em .5rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: .3px;
}

.my-badge.theme {
    background-color: #F8BBD0;
    /* soft light pink */
    color: #7B1B4A;
    /* deep muted pink */
}

.my-badge.component {
    background-color: #F48FB1;
    /* balanced pink */
    color: #2B2B2B;
    /* readable dark text */
}