.status-badge {
    border-radius: var(--border-radius);
    padding: .25em .5rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: .3px;
}

.status-badge {

    &.status-pending,
    &.status-proposed,
    &.status-planned {
        background: #FFF9C4;
        color: #8A6D3B;
    }

    &.status-linked,
    &.status-verified,
    &.status-accepted,
    &.status-active {
        background: #C8E6C9;
        color: #256029;
    }

    &.status-submitted {
        background: #BBDEFB;
        color: #0D47A1;
    }

    &.status-notlinked,
    &.status-deleted,
    &.status-suspended,
    &.status-rejected,
    &.status-locked {
        background: #FFCDD2;
        color: #d80517;
    }

    &.status-approved,
    &.status-closed,
    &.status-granted {
        background: #F3E5F5;
        color: #4A148C;
    }

    &.status-negotiation {
        background: #E3F2FD;
        color: #0D47A1;
    }

    &.status-reviewed {
        background: #FCE4EC;
        color: #880E4F;
    }

    &.status-completed {
        background: #E0F2F1; // soft teal
        color: #004D40; // deep teal
    }

}


///////////////