.status-badge {
    border-radius: var(--border-radius);
    padding: .25em .5rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: .3px;
}

.status-badge {

    &.status-pending,
    &.status-planned {
        background: #FFF9C4;
        color: #8A6D3B;
    }

    &.status-submitted,
    &.status-linked,
    &.status-verified, 
    &.status-active {
        background: #C8E6C9;
        color: #256029;
    }

    &.status-notlinked,
    &.status-deleted,
    &.status-suspended,
    &.status-rejected,
    &.status-locked {
        background: #FFCDD2;
        color: #d80517;
    }

    &.status-accepted,
    &.status-approved,
    &.status-closed {
        background: #F3E5F5;
        color: #4A148C;
    }

    &.status-on_review {
        background: #BBDEFB;
        color: #0D47A1;
    }
    &.status-reviewed {
        background: #fbbbf0;
        color: #a10d95;
    }
}

///////////////