.theme-level-badge {
    border-radius: var(--border-radius);
    padding: .25em .5rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: .3px;
}

.theme-level-badge.theme-broad {
    background: #FFF3E0; /* light orange */
    color: #EF6C00; /* dark orange */
}

.theme-level-badge.theme-componenet {
    background: #E3F2FD; /* light blue */
    color: #1565C0; /* dark blue */
}

.theme-level-badge.theme-narrow {
    background: #E8F5E9; /* light green */
    color: #2E7D32; /* dark green */
}
